<% if session[:user_id] != nil %>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
		<div class="panel panel-primary">
		    <div class="panel-heading">
		      <h3 class="panel-title">Editing user</h3>
		    </div>
		    <div class="panel-body">
				<%= render 'form' %>
	        </div>
		</div>
		<% if session[:user_status] != 1 %>
			<%= link_to 'Back', :back %>
		<% else %>
			<%= link_to 'Back', :users %>
		<% end %>
	</div>
</div>
<%end%>