<div class="col-sm-1"></div>
<div class="col-sm-10">
  <div class="list-group">
	  <% @posts.each do |post| %>
	    <a href="#" class="list-group-item">
	      <h5 class="list-group-item-heading" style="color: #4183c4"> <strong><%= post.title %></strong> </h5>
	      <p class="list-group-item-text"><%= post.content %></p>
	      <p class="list-group-item-text"><strong>Author: </strong><%= post.user.fullname %> <strong>View:</strong> <%= post.view %></p>
	    </a>
    <% end %>
  </div>
</div>
