<div class="col-sm-2"></div>
<div class="col-sm-8">
  <div class="list-group">
	  <% @posts.each do |post| %>
	  	<div class="ideal">
	  		<div class="image">
	  			<img src="http://sukien360-data.online.vncdn.net/40/ca/06/8d/08/0bcbeafce98b1151739a76fed235a6df/1.f24313c3be330ef19edd6047cccd8715_495672_HFRSEKMKFZYNT.jpg">
	  		</div>
	  		<div class="text">
			    <span><%= post.title %></span>
			    <span><%= post.content %></span>
			    <span><strong>Author: </strong><%= post.user.fullname %> <strong>View:</strong> <%= post.view %> </span>
		    </div>
	    </div>
    <% end %>
  </div>
</div>
