/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require bootstrap.min
 *= require bootstrap-theme
 *= require bootstrap-theme.min
 *= require style
*/
*{
	margin: 0;
	padding: 0;
	font-family: arial
}
.feed_container{
	float: left;
	width: 100%;
}
.feed_avatar{
	float: left;
	height: 100px;
	width: 100px;
}
.feed_detail{
	float: left;
	margin-left: 10px;
	padding-top: 5px;
	width: 760px;
}
.catalog{
	margin-top: 5px;
	float: left;
}
.view_more_div{
	float: left;
	padding-top: 5px;
	width: 100%;
	text-align: center;
}
#view_more{
	display: inline-block;
	padding: 3px;
}
.page{
	float: left;
	margin-top: 3px;
}
.list_thumbnail{
	width: 100%;
	float: left;
}
.item_thumbnail{
	float: left;
	margin-right: 10px;
	width: 50px;
}
.avt_thumbnail{
	height: 50px;
	width: 50px;
}
.radio_thumbnail{
	clear: both;
	float: left;
	text-align: center;
	width: 100%;
}
.choose_button{
	float: left;
}
.upload_button{
	float: left;
}
.avatar_current{
	width: 70px;
	height: 70px;
	float: left;
	border-radius: 3px;
}
.upload_avatar_form{
	width: 100%;
	float: left;
	clear: both;
	border-bottom: 1px solid #dedede;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
