/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require bootstrap.min
 *= require bootstrap-theme
 *= require bootstrap-theme.min
 *= require style
*/
.load-more, .load-more-chat {
	border-bottom: 1px solid #eee;
	float: left;
	padding: 5px 0;
	text-align: center;
	text-align: center;
	width: 100%;
}
.load-more a, .load-more-chat a {
	color: #428bca;
	cursor: pointer;
	text-decoration: none;
}
.load-more a:hover, .load-more-chat a:hover {
	color: #2a6496;
}

.profile{
	background: #F9F9F9;
}
.feed_container{
	background: #fff;
	color: #6B6B6B;
	float: left;
	padding: 5px 5px 12px 5px ;
	width: 100%;
	border-bottom: 1px solid #eee;
	box-shadow: 0px 0px 2px #999;
}
.feed_container:hover{
	background-color:#e8e8dc;
	box-shadow: 0px 0px 6px #999;
	-webkit-transition:background-color 1s;
	-moz-transition:background-color 1s;
	-o-transition:background-color 1s;
	-ms-transition:background-color 1s;
	transition:background-color 1s;
}
.feed_container .info {
	padding-top: 6px;
	font-size: 11px;
	opacity:.6;
	font-weight: normal;
	color: #6B6B6B;
}
.feed_container .name {
	font-size: 15px;
	color: #4183c4;
	font-weight: normal;
}
.feed_container .time_post{
	color: #a4a4a4;
	position: relative;
	left: 705px;
	bottom: 100px;
}
.feed_avatar{
	float: left;
	padding: 10px 0 0 10px;
	height: 100px;
	width: 100px;
}
.feed_avatar_img{
	width: 100px;
	height: 100px;
	border-radius: 3px;
}
.feed_detail{
	float: left;
	margin-left: 15px;
	padding-top: 5px;
	position: relative;
	width: 775px;
}


.profile{
	background: #ffffff;
}
.profile_container{
	background: #ffffff;
	float: left;
	padding: 5px 10px 15px 10px;
	width: 100%;
	border-bottom: 1px solid #eee;
	box-shadow: 0px 0px 2px #999;
}
.profile_container:hover{
	background-color:#e8e8dc;
	box-shadow: 0px 0px 6px #999;
	-webkit-transition:background-color 1s;
	-moz-transition:background-color 1s;
	-o-transition:background-color 1s;
	-ms-transition:background-color 1s;
	transition:background-color 1s;
}
.profile_container .info {
	padding-top: 6px;
	font-size: 11px;
	opacity:.6;
	font-weight: normal;
	color: #6B6B6B;
}
.profile_container .name {
	font-size: 15px;
	color: #4183c4;
	font-weight: normal;
}
.profile_container .time_post{
	color: #a4a4a4;
	position: relative;
	left: 705px;
	bottom: 100px;
}
.profile_thumbnail_img{
	width: 100px;
	height: 100px;
	
}
.profile_avatar{
	float: left;
	padding: 12px 0 0 8px;
	height: 100px;
	width: 100px;
}

.profile_avatar_me{
	display: block;
	height: 263px;
	width: 100%;
	margin-right: 10px;
	padding: 2px;
}
.profile_detail{
	margin-left: 10px;
	padding-top: 10px;
	width: 565px;
	margin-left: 120px;
}

.sidebar-container {
	padding: 0 0px 0px 0;
}
.sidebar-content {
	box-shadow: 0px 1px 1px #CCC;
	border: 1px solid #BFBFBF;
	background: #F6F6F6;
	color: #6B6B6B;
	border-radius: 3px;
	overflow: hidden;
}
.sidebar-header {
	color:#fff !important;
	background-color:#428bca;
	border-color:#428bca;
	padding: 10px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 13px;
	font-weight: bold;
	color: #777;
	border-bottom: 1px solid #EEE;
}
.sidebar-divider {
	height:1px;
	width: 100%;
	background: #dee0e3;
	float: left;
}
.sidebar-list {
	margin-top: -1px;
	padding: 7px 10px;
	border-top: 1px solid #EEE;
	font-size: 14px;
	background-color: #F6F6EF;
}

/*comment css
*/
.comment-container {
	padding: 0 20px 10px 10px;
}
.comment-container a {
	color: #3C5C9E;
}
.comment-content {
	font-family: Arial, Tahoma, Verdana;
	box-shadow: 0px 1px 1px #CCC;
	border: 1px solid #BFBFBF;
	background: #F6F6F6;
	color: #6B6B6B;
	border-radius: 3px;
	overflow: auto;
}
.comment-header {
	background: #F6F6F6;
	padding: 10px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 13px;
	font-weight: bold;
	color: #777;
	border-bottom: 1px solid #EEE;
}
.comment-inner {
	padding: 10px;
}
.comment-divider {
	height:1px;
	width: 100%;
	background: #dee0e3;
	float: left;
}
.comment-time {
	overflow: auto;
}
.comment-replies {
	padding-top: 10px;
	background: #F9F9F9;
	width: 100%;
	float: left;
	overflow: auto;
}

.comment-reply-avatar {
	width: 48px;
	float: left;
	overflow:auto;
}
.comment-reply-avatar img {
	border-radius: 3px;
	width: 48px;
	height: 48px;
}
.comment-replies-content {
	overflow: auto;
	padding: 10px 10px 10px 10px;
}

.comment-reply-container {
	width: 100%;
	margin-top: 7px;
	overflow: auto;
	border-bottom: 1px solid #EEE;
}
.comment-reply-author a {
	color: #428bca;
	cursor: pointer;
	font-weight: bold;
	font-family: Arial, Tahoma, Verdana;
}
.comment-reply-comment {
	padding: 5px 15px 5px 58px;
	word-wrap: break-word;
}
.comment-reply-content:hover {
	background: #fff;
	box-shadow:0 0 5px #008FBB;
}
.comment-reply-time{
	float:right;
	color:#888;
	font-size: 13px !important;
}
.catalog{
	margin-top: 5px;
	float: left;
}
.view_more_div{
	
	padding-top: 5px;
	width: 100%;
	text-align: center;
}

.page{
	float: left;
	border: none;
	background-color: white;
}
.page:first-child{
	border-radius: 3px 3px 0 0;
}
.page:last-child{
	border-radius: 0 0 3px 3px;
}
.list_thumbnail{
	width: 100%;
	float: left;
}
.item_thumbnail{
	float: left;
	margin-right: 10px;
	width: 50px;
}
.avt_thumbnail{
	height: 50px;
	width: 50px;
}
.radio_thumbnail{
	clear: both;
	float: left;
	text-align: center;
	width: 100%;
}
.choose_button{
	float: left;
}
.upload_button{
	float: left;
}
.avatar_current{
	width: 70px;
	height: 70px;
	float: left;
	border-radius: 3px;
}
.upload_avatar_form{
	width: 100%;
	float: left;
	clear: both;
	border-bottom: 1px solid #dedede;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.user_list{
	background: white;
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
}
.user_row{
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.user_item{
	background: #F6F6F6	;
	width: 48%;
	height: 100%;
	float: left;
	border: 1px solid #dedede;
	padding: 5px;
	margin-left: 10px;
	position: relative;
	border-radius: 3px;
	box-shadow: 0 0 10px #D5D3BE;
	-webkit-transition: background 0.7s; /* For Safari 3.1 to 6.0 */
    transition: background 0.7s;
}
.user_item:hover{
	text-decoration:underline;
	background: #fff;
	box-shadow:0 0 5px #008FBB;
}
.user_item_avt{
	width: 50px;
	height: 100%;
	float: left;
}
.user_item_online{
	width: 10px;
	height: 50px;
	margin-right: 5px;
	float: left;
}
.user_item_img{
	width: 50px;
	height: 50px;
	border-radius: 3px;
	float: left;
}
.user_item_info{
	width: 200px;
	height: 100%;
	float: left;
	margin-left: 10px;
	padding: 8px 10px 10px 0;
}
.user_action{
	width: 50px;
	position: absolute;
	right: 30px;
	top: 18px;
}
.user_action_reject{
	width: 50px;
	position: absolute;
	right: 30px;
	top: 9px;
}


/* css comment on Post */

.inserted{float:right; font-size: 11px !important; text-transform:lowercase !important;}
.review-item{margin-top:20px;}
.review-item:first-child{margin-top:0;}
.review-item .user-info{position:relative;height:50px;}
.review-item .user-info .avatar{float:left;position:relative;padding: 2px;}
.review-item .user-info .avatar img{float:left;width:48px;height:48px; border-radius: 5px}
.review-item .user-info .user{margin-left:60px;position:relative;height:100%;overflow:hidden;}
.review-item .user-info .user h3{font-size:15px;font-weight:bold;margin:15px 0 0 0;height:18px;}
.review-item .user-info .user h3.no-under{margin-top:31px;}
.review-item .user-info .user h3 a{color:#000;float:left;}
.review-item .user-info .user h3 .vip{background-color:#D1E751;color:black;font-family:Arial, Tahoma, Verdana;font-weight:700;padding:1px 4px;border-radius:3px;font-size:13px;margin:-1px 0 0 7px;float:left;box-shadow:0 0 5px #999;}
.review-item .user-info .user h4{margin:-1px 0 0 0;padding:0; padding-bottom: 2px;}
.review-item .user-info .user h4 .stat{padding-left:16px;background-repeat:no-repeat;background-position:0 0;background-size:auto 12px;margin-right:6px;opacity:.6;font-size:11px!important; text-transform:lowercase !important;font-weight:normal;}
.review-item .user-info .user h4 .no-icon{padding-left:0;}
.review-item .user-info .user h4 .location{background-image:url(https://slurm.trakt.us/images/icons/network-location@2x.png);padding-left:10px;}
.review-item .user-info .user h4 .stat.likes{background-image:url(https://slurm.trakt.us/images/icon-ratings-dark@2x.png);}
.review-item .user-info .user h4 .stat.shouts{background-image:url(https://slurm.trakt.us/images/icon-shouts-filled-dark@2x.png);}
.review-item .user-info .user h4 .stat-link{color:#000;}
.review-item .user-info .user h4 .stat-link:hover .stat{}.review-item .user-info .user h4 .like-shout{font-weight:normal;font-size:11px;margin-right:6px;}
.review-item .user-info .user h4 .stat.reply{background-image:url(https://slurm.trakt.us/images/icon-reply-linked@2x.png);padding-left:19px;color:#008fbb;opacity:1;}
.review-item .user-info .user h4 .like-shout.selected{background-image:url(https://slurm.trakt.us/images/icon-ratings-linked@2x.png);padding-left:16px;background-repeat:no-repeat;background-position:0 0;background-size:auto 12px;}
.review-item .user-info .inserted{color:#888;text-transform:uppercase;font-size:13px;position:absolute;right:0;bottom:0;}.review-item .user-info .manage{position:absolute;right:0;bottom:22px;z-index:1;}
.review-item .user-info .edit-shout,.review-item .user-info .delete-shout{display:none;}
.review-item:hover .user-info .edit-shout,.review-item:hover .user-info .delete-shout{display:inline;}
.review-item .review-text{margin-top:10px;margin-bottom:0;color:#666;background-color:#F6F6EF;padding:10px;border-radius:3px;box-shadow:0 0 20px #D5D3BE;position:relative;-webkit-transition:background-color 1s;-moz-transition:background-color 1s;-o-transition:background-color 1s;-ms-transition:background-color 1s;transition:background-color 1s;}
.review-item .review-text .spoiler{background:#F6F6EF url(https://slurm.trakt.us/images/spoiler.png) no-repeat 50% 50%;width:100%;height:100%;position:absolute;top:0;left:0;border-radius:3px;cursor:pointer;}
.review-item:hover .review-text{background-color:#fff;}
.review-item.own .review-text,.review-item.own .review-text .spoiler,.review-item.own:hover .review-text{box-shadow:0 0 10px #008FBB;background-color:#EFF4FA;}
.review-item .review-text blockquote{border-left:solid 2px #D5D3BE;margin-left:10px;padding:3px 0 3px 10px;}
.review-item .review-text .at-reply{font-weight:no;color:#333;}
.review-item.reply .user-info{height:24px;}
.review-item.reply .user-info .user{margin-left:35px;margin-right:400px;}
.review-item.reply .user-info .user h3{margin-top:5px;}
.review-item.reply .user-info .avatar img{width:24px;height:24px;}
.review-item .user-info .bottom-rating-overlay{width:auto;padding-right:5px;position:relative;border-radius:3px;float:left;}
.review-item .user-info .bottom-rating-overlay span{border-radius:3px 0 0 3px;}

/* end css for comment on post */

.post_thumbnail_img{
	width: 150px;
	height: 180px;
	padding-right: 10px;
}
.ap-xdot{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;	
}

.cover{padding-top: 2px; position:relative;width:683px;}
.cover .image{width:683px;overflow:hidden;height:300px;} 
.cover .image img{width:700px;min-height:300px;}
.cover .text{font-family: Arial, Tahoma, Verdana; position:absolute;bottom:0px;left:-95px;width:100%;background: rgba(0,0,0,0.7);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7d000000, endColorstr=#7d000000)";}
.cover:hover .text{background: rgba(0,0,0,0.8);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#a3000000, endColorstr=#a3000000)";}
.cover .text .in{padding:10px 20px;color:#ccc;}
.cover .text .icon{width:14px;font-size:14px;display:inline-block;margin-right:5px;}
.cover .text .info{width:640px;text-shadow:0 1px 1px #000;overflow:hidden;}
.cover .text .name{margin-bottom:5px;}
.cover .text .name a{color:#62b7e7;font-size:20px;font-weight:normal;}
.cover .text .time{color:#ccc;font-size:13px;float:left;padding-top:8px;width:20%;}
.cover .text .time a{font-weight:normal;color:#fff;}
.cover .links{position:absolute;right:15px;width:280px;top:40px;}

.post_yourvote_choose{
	font-size: 16px;
	font-weight: bold;
	float: left;
	float: right;
}
