/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require bootstrap.min
 *= require bootstrap-theme
 *= require bootstrap-theme.min
 *= require style
*/

*{
	font-family: arial;
	margin: 0;
	padding: 0;
	font-size: 13px;
}
.load-more, .load-more-chat {
	border-bottom: 1px solid #eee;
	float: left;
	padding: 5px 0;
	text-align: center;
	text-align: center;
	width: 100%;
}
.load-more a, .load-more-chat a {
	color: #428bca;
	cursor: pointer;
	text-decoration: none;
}
.load-more a:hover, .load-more-chat a:hover {
	color: #2a6496;
}

.profile{
	background: #F9F9F9;
}
.feed_container{
	border-bottom: 1px solid #dedede;
	float: left;
	padding: 5px 10px 5px 10px ;
	width: 100%;
}
.feed_avatar{
	float: left;
	height: 100px;
	width: 100px;
}
.feed_avatar_img{
	width: 100px;
	height: 100px;
	border-radius: 5px;
}
.feed_detail{
	float: left;
	margin-left: 10px;
	padding-top: 5px;
	position: relative;
	width: 775px;
}
.feed_time_post{
	color: #a4a4a4;
	position: absolute;
	right: 0px;
	top: 0px;
}

.profile{
	background: #ffffff;
}
.profile_container{
	float: left;
	padding: 5px 10px 5px 10px;
	width: 100%;
	border-bottom: 1px solid #dedede;
}
.profile_thumbnail_img{
	width: 80px;
	height: 80px;
	border-radius: 5px;
}
.profile_avatar{
	float: left;
	height: 80px;
	width: 80px;
}

.profile_avatar_me{
	height: 100px;
	width: 100px;
	border-radius: 40px;
	margin-right: 10px;
	padding: 2px;
}

.profile_avatar_me{
	display: block;
	height: 263px;
	width: 100%;
	border-radius: 12px;
	margin-right: 10px;
	padding: 2px;
}
.profile_detail{
	float: left;
	margin-left: 10px;
	padding-top: 5px;
	width: 565px;
}

.sidebar-container {
	padding: 0 0px 0px 0;
}
.sidebar-content {
	box-shadow: 0px 1px 1px #CCC;
	border: 1px solid #BFBFBF;
	background: #fff;
	color: #6B6B6B;
	border-radius: 3px;
	overflow: hidden;
}
.sidebar-header {
	color:#fff !important;
	background-color:#428bca;
	border-color:#428bca;
	padding: 10px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #777;
	border-bottom: 1px solid #EEE;
}
.sidebar-divider {
	height:1px;
	width: 100%;
	background: #dee0e3;
	float: left;
}
.sidebar-list {
	margin-top: -1px;
	padding: 7px 10px;
	border-top: 1px solid #EEE;
	font-size: 14px;
}

/*comment css
*/
.comment-container {
	padding: 0 20px 10px 10px;
}
.comment-container a {
	color: #3C5C9E;
}
.comment-content {
	font-family: 'Segoe UI', Tahoma, Verdana, Arial, sans-serif;
	box-shadow: 0px 1px 1px #CCC;
	border: 1px solid #BFBFBF;
	background: #fff;
	color: #6B6B6B;
	border-radius: 3px;
	overflow: auto;
}
.comment-header {
	background: #f8f8f8;
	padding: 10px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #777;
	border-bottom: 1px solid #EEE;
}
.comment-inner {
	padding: 10px;
}
.comment-divider {
	height:1px;
	width: 100%;
	background: #dee0e3;
	float: left;
}
.comment-time {
	overflow: auto;
}
.comment-replies {
	padding-top: 10px;
	background: #F9F9F9;
	width: 100%;
	float: left;
	overflow: auto;
}

.comment-reply-avatar {
	width: 48px;
	float: left;
	overflow:auto;
}
.comment-reply-avatar img {
	border-radius: 3px;
	width: 48px;
	height: 48px;
}
.comment-replies-content {
	overflow: auto;
	padding: 10px 10px 10px 10px;
}

.comment-reply-container {
	width: 100%;
	margin-top: 7px;
	overflow: auto;
	border-bottom: 1px solid #EEE;
}
.comment-reply-author a {
	color: #428bca;
	cursor: pointer;
	font-weight: bold;
	font-family: Tahoma, Arial, 'Segoe UI', Verdana, sans-serif;
}
.comment-reply-comment {
	padding: 5px 15px 5px 58px;
	word-wrap: break-word;
}
.comment-reply-time{
	float:right;
	color:#888;
	font-size: 13px !important;
}
.catalog{
	margin-top: 5px;
	float: left;
}
.view_more_div{
	
	padding-top: 5px;
	width: 100%;
	text-align: center;
}

.page{
	float: left;
	border: none;
	background-color: white;
}
.page:first-child{
	border-radius: 3px 3px 0 0;
}
.page:last-child{
	border-radius: 0 0 3px 3px;
}
.list_thumbnail{
	width: 100%;
	float: left;
}
.item_thumbnail{
	float: left;
	margin-right: 10px;
	width: 50px;
}
.avt_thumbnail{
	height: 50px;
	width: 50px;
}
.radio_thumbnail{
	clear: both;
	float: left;
	text-align: center;
	width: 100%;
}
.choose_button{
	float: left;
}
.upload_button{
	float: left;
}
.avatar_current{
	width: 70px;
	height: 70px;
	float: left;
	border-radius: 3px;
}
.upload_avatar_form{
	width: 100%;
	float: left;
	clear: both;
	border-bottom: 1px solid #dedede;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
.user_list{
	background: white;
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
}
.user_row{
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.user_item{
	background: #F9F9F9	;
	width: 48%;
	height: 100%;
	float: left;
	border: 1px solid #dedede;
	padding: 5px;
	margin-left: 10px;
	position: relative;
}
.user_item_avt{
	width: 50px;
	height: 100%;
	float: left;
}
.user_item_img{
	width: 50px;
	height: 50px;
	border-radius: 3px;
	float: left;
}
.user_item_info{
	width: 200px;
	height: 100%;
	float: left;
	margin-left: 10px;
	padding: 8px 10px 10px 0;
}
.user_action{
	width: 50px;
	position: absolute;
	right: 30px;
	top: 18px;
}
.post_thumbnail_img{
	width: 150px;
	height: 180px;
	padding-right: 10px;
}